{% extends "layout.html" %}
{% block body %}

    <div class="container my-4">
        <h2>CONTACT US</h2>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Your Query</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Jonha Fall</option>
                    <option>Hirni Fall</option>
                    <option>Dhurwa dam</option>
                    <option>Found new</option>
                  
                </select>
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Tell Us about Yourself</label>
                <textarea class="form-control" id="exampleFormControlTextarea12" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Elaborate Your Concern</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <buton class="btn btn-primary">SUBMIT</buton>
        </form>
    </div>


 
    </div>

{% endblock %}