{% extends "layout.html" %}
{% block body %}


<div class="container">
    <div class="alert alert-info my-2 " role="alert">
     <center><h2><em><strong> Welcome to Explore!!</strong></em></h2></center>
    </div>

    <div class="card-deck">
      <div class="card">
        <img src="{{ url_for('static', filename='images/palani.jpeg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Palani Waterfall</h5>
          <p class="card-text">This waterfall is located near patratu resort,small but eye catching scenic beauty.
            It can be found to be an intresting new unexplored falls for those who loves to explore.
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/perwa.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Perwaghagh Waterfall</h5>
          <p class="card-text"></p>Perwaghag Fall, one of the most beautiful waterfalls in Jharkhand, hidden in the lush
          forests near Torpa block of Khunti District,
          some 80 kms from Ranch.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/bagh.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Baghmunda Waterfall</h5>
          <p class="card-text"> Lovely place all natural,
            all you will get i.e. sand, rock, forest, river. Super nature combination..</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img src="{{ url_for('static', filename='images/dasm.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Dassam Waterfall</h5>
          <p class="card-text">This is indeed a must visit place in Ranchi. Splendid sight of water jumping from a
            height and forming beautiful patterns</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card">
        <img src="{{ url_for('static', filename='images/hundru.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Hundru Falls</h5>
          <p class="card-text">Hundru falls is a waterfall located in Ranchi district in the Indian state of Jharkhand.
            It is the 34th highest waterfall in India. It is one of the most famous tourist places in the region.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/lodh.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Lodhi Fall</h5>
          <p class="card-text">The Lodhi Falls (also known as Budha waterFalls) is a waterfall in a mid forest of
            Latehar district of Palamu division in the Indian state of Jharkhand.
            It is the highest waterfall in Jharkhand and the 21st highest waterfall in India.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img src="{{ url_for('static', filename='images/panch.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Panchghagh Waterfall</h5>
          <p class="card-text">This fall is not very high like others but the wide area around the fall is very
            attractive which serves as an excellent picnic spot.
            All round there are jungle of saal (sakhua) and palaas. The jungle is spread upto 1 to 2 km area around the
            fall .</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/nagfeni.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Nagfeni Fall</h5>
          <p class="card-text">It is situated in the middle of Gumla & Sisai block. It is famous for the jagarnath
            temple and there is a big rock in the shape of snake “Nag” .
            It has its own natural beauty which invites the people to visit this place for picnic & to enjoy the time
            with friends & family..</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/rajrappa.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Rajrappa Fall</h5>
          <p class="card-text">There are so many reasons to visit Rajrappa-You can either make it a pilgrimage visit to
            its famous historic temple,
            or an educational tour to learn about the nuances of geographic features surrounding its waterfalls or a
            pleasure trip to soak in
            the region’s bountiful natural beauty around the Rajrappa falls.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img src="{{ url_for('static', filename='images/usri.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Usri Waterfall</h5>
          <p class="card-text">The river Usri falls from a height of about 35-36 ft in multiple streams. A real
            photogenic place.
            One can spend a lot of time just beside the falls listening the continuous flow of water..</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/bhatinda.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Bhatinda Waterfall</h5>
          <p class="card-text">Bhatinda Fall is located just 14 kms away from Dhanbad railway station. The waterfalls
            make a perfect picnic spot for many.It is nestled amongst the greenery and the rugged hillocks.
            It provides a captivating sight to the nature lovers.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/pat.jpg')}}" class="card-img-top" width="200" height="400">
        <div class="card-body">
          <h5 class="card-title">Patratu Valley/Resort</h5>
          <p class="card-text">The gorgeous Patratu Valley leaves one in awe of its unspoilt and unparalleled beauty.
            Undoubtedly, one of the most picturesque locations around Ranchi,the valley has winding roads and hairpin
            bends that are a treat to the eyes
            when seen from the hills.Drive To Patratu Valley in Ranchi is one of the top activities to do in city. The
            resort, which is located in the
            serene valley next to the Patratu dam has been built by the State Tourism department. The resort appears to
            be a significant attraction for
            the tourists as earlier tourists had no option but to not stay here as the location is quite remote</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>


      <div class="container">
        <div class="card-deck">
          <div class="card">
            <img src="{{ url_for('static', filename='images/e6.jpeg')}}" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Sita Waterfall</h5>
              <p class="card-text">40kms away from Ranchi, near Jonha railway station lies the beautiful Sita Falls.
                Many believe that the falls due to their mesmerizing beauty are named after Sita of Ramayana also known
                for her surreal beauty.
                It is a sparsely visited place by tourist hence a great option for those looking for some peace and
                relaxation..</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='images/ghagri.jpg')}}" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Lower Ghaghri Fall</h5>
              <p class="card-text">Lower Ghaghri Falls is located 10 kilometres from Netarhat in Latehar district in the
                Indian state of Jharkhand.
                It is the 33rd highest waterfall in India. It is known for its mesmerizing beauty and a major tourist
                attraction in Jharkhand.
                This waterfall is situated on the Ghaghri River, tributary of Auranga River.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card">
            <img src="{{ url_for('static', filename='images/Jonha_falls.jpg')}}" class="card-img-top" width="200" height="400">
            <div class="card-body">
              <h5 class="card-title">Jonha Falls</h5>
              <p class="card-text">This is one of the safest waterfalls of Ranchi as it does not have a deep plunge pool
                beneath the waterfall. One can even bath just beneath the falling water as the bottom is filled with
                sand and shingleThis place is yet to see real development as a tourist spot.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>


{% endblock %}